<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Notice..!</h1>
    <br>
    <h3>Description: </h3>
    <p>Notice: <%= params[:user]%>, <%= params[:script]%></p>
  </body>
</html>